//# Query Sizes //

// Mobile
$screen-mobile-small: 315px;
$screen-mobile-medium: 370px;
$screen-mobile-large: 450px;

// Tablet
$screen-tablet: 800px;
$screen-tablet-large: 1024px;

// Laptop / Desktop
$screen-laptop: 1280px;
$screen-desktop: 1440px;
$screen-desktop-large: 1920px;

// 2K
$screen-2k: 2560px;

// 4K
$screen-4k: 3840px;