//.. Text 
$color: var(--text-color);

$font-size1: 2rem;
$font-size2: 1.75rem;
$font-size3: 1.5rem;
$font-size4: 1.25rem;
$font-size5: 1rem;
$font-size5-5: 0.875rem;
$font-size6: 0.75rem;
$font-size6-5: 0.625rem;
$font-size7: 0.5rem;

$font-family: 'Questrial', sans-serif
