$default-theme: (
    //.. Header
    header-background: black,
    //.. Footer
    footer-background: rgb(224, 224, 224),
    //.. Colors 
    color1: rgb(255, 255, 255),
    color2: rgb(0, 132, 255),
    color3: rgb(0, 0, 0),
    color4: rgb(128, 128, 128),

    //.. Text
    text-color: black,
    )