$default-theme: (
    //.. Header
    header-background: black,
    //.. Background
    background-color: rgb(245, 245, 245),
    //.. Colors 
    color1: rgb(255, 255, 255),
    color2: rgb(0, 132, 255),
    color3: rgb(0, 0, 0),

    //.. Text
    text-color: black,
    )