//# Use //
@use '../../Shared/styles/default/header' as header;
@use '../../Shared/styles/default/query' as query;

.header {
    position: absolute;

    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: header.$height-size;


    &__logo {
        width: 75px;
        height: 75px;
    }

    &__hr {
        border: 0;
        height: 1px;
        background: linear-gradient(to right, transparent, var(--color1), transparent);
        width: 100%;
    }

    &__nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        width: var(--layout-default-width);
        max-width: var(--layout-max-width);

        &--hamburguer {
            @extend .header__nav;
            justify-content: space-between;

            &-icon {
                width: 45px;
                height: 45px;
                margin-right: 2.5%;
                color: var(--color1);
            }

            &-button {
                background: none;
                border: none;
            }
        }
    }

    &__link {
        color: var(--color1);
        
        &--logo {}

        &-list {
            list-style: none;
            margin: 0;
            padding: 0;

            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 100%;

            gap: 50px;

            &__item {}
        }
    }

    // MEDIA QUERY
    @media (min-width: query.$screen-2k) {
        &__hr {
            height: 2px;
        }
    }

    @media (min-width: query.$screen-4k) {
        &__hr {
            height: 3px;
        }
    }
}