//# Use //
@use '../../shared/styles/default/header' as header;
@use '../../shared/styles/default/query' as query;
@use '../../shared/styles/default/transition' as transition;

.header {
    position: absolute;

    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: header.$height-size;

    z-index: 1;

    &__logo {
        width: 75px;
        height: 75px;
    }

    &__hr {
        border: 0;
        height: 1px;
        background: linear-gradient(to right, transparent, var(--color1), transparent);
        width: 100%;

        margin-top: 0;
    }

    &__nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        width: var(--layout-default-width);
        max-width: var(--layout-max-width);
        height: calc(header.$height-size * 0.78);

        &--hamburger-closed {
            @extend .header__nav;
            justify-content: space-between;
        }

        &--hamburger-opened {
            position: fixed;

            width: 100%;
            height: 100%;
            background-color: var(--color1);

            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;
        border-bottom: 1px solid transparent;

        color: var(--color1);
        transition: border-color transition.$transition-time ease;

        z-index: 2;

        &--logo {}

        &-list {
            list-style: none;
            margin: 0;
            padding: 0;

            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 100%;

            gap: 50px;

            &__item {
                height: 100%;
            }
        }

        &:hover {
            border-color: var(--color2);
        }
    }

    &__hamburger {
        &-closed {
            &__icon {
                width: 45px;
                height: 45px;
                margin-right: 2.5%;
                color: var(--color1);
            }

            &__button {
                background: none;
                border: none;
            }
        }

        &-opened {
            &__top {
                display: flex;
                align-items: center;

                height: calc(header.$height-size * 0.78);
            }

            &__content {

            }

            &__logo {

                width: 43px;
                height: 43px;
            }

            &__hr {
                border: none;
                height: 1px;
                background: linear-gradient(to right, var(--color4), var(--color5), var(--color4));
                width: 100%;
                margin-top: 0;
            }

        }
    }

    // MEDIA QUERY
    @media (min-width: query.$screen-2k) {
        &__hr {
            height: 2px;
        }
    }

    @media (min-width: query.$screen-4k) {
        &__hr {
            height: 3px;
        }
    }
}