//# Use //
@use '../../Shared/styles/default/text.scss' as text;
@use '../../Shared/styles/mixins/no-select' as no-select;

.text {
    display: flex;
    color: text.$color;
    font-family: text.$font-family;

    &-no-select {
        @include no-select.no-select;
    }

    &-not-exceed {
        &-x {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 0;
            min-width: 100%;
        }

        &-y {
            position: relative;
            max-height: 9.5em;
            overflow: hidden;
        }
    }
}